  body {
      background: #A67C00 url(../images/ChatGPT\ Image\ Oct\ 1\,\ 2025\,\ 03_51_27\ PM.png) repeat;
  }

  #wrapper {
      width: 900px;
      height: 1000px;
      margin: auto;
      background: #283723;
      border: 3px solid black;
      border-radius: 20px;
      overflow: hidden;
  }
  header {
   background: url("../images/gold.jpg");
    height: 178px;
    
  }
  header h1 {
      font-size: 3em;
      color: #B22222;
      float: left;
      margin: 120px;
  }

  header img {
      width: 178px;
      float: left;
      margin-left: 12px;
  }

  nav {
      background: #B22222;
      width: 100%;
      height: 50px;
      clear: both;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: #283723 3px solid;
      border-top: #283723 3px solid;
      padding-top: #b22222 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;

  }

  main {
      background-color: green;
  }
main section {
     background-color: ivory;
     width:  40%;
     height: 40%;
     float: left;
     margin: 5%;
  }
  main #ads {
      background-color: yellow;
      width: 200px;
      position: fixed;
      right: 0;
      border: 3px solid black;
      color: #B22222;
  }

  footer {
      background-color: aquamarine;
      height: 100px;
  }

  nav a {
      color: #A67C00;
      font-size: 1.5em;
      text-decoration: none;
      display: flex;
      align-items: center;

  }
  nav a:hover {
      color: #A67C00;
      text-shadow: 4px 4px 2px #000000;
  }